<div class='fon'>
  <div class='header'>
      <h1><center>Footbal Players DB</center></h1>
        <div class='btn-group fon'>
          <%= link_to "Home Page", root_path, class: 'btn btn-default col-md-6'%>
          <%= link_to 'New Footbolist', new_footbolist_path, class: 'btn btn-default col-md-offset-6 col-md-6' %>
        </div>
  </div>

  <div class="fon post_header">
    <p id="notice"><%= notice %></p>
    <table class="main_table col-md-12">
      <thead>
        <tr class="row">
          <th class="col-md-3">Image</th>
          <th class="col-md-3">Name</th>
          <th class="col-md-3">Second name</th>
          <th class="col-md-3" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @footbolists.each do |footbolist| %>
            <tr class="row">
                <td class="col-md-2"><%= image_tag footbolist.image.url, height: '60', width: '60' %></td>

                <td class="col-md-3"><%= footbolist.name %></td>

                <td class="col-md-3"><%= footbolist.second_name %></td>


                <td class="col-md-4">
                  <div class='btn-group'>  <%= link_to 'Show', footbolist, class: 'btn btn-default' %>
                    <%= link_to 'Edit', edit_footbolist_path(footbolist), class: 'btn btn-default' %>
                    <%= link_to 'Destroy', footbolist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
                  </div>
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
